<h1>Lists</h1>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td><%= list.title %></td>
          <td>
            <%= link_to 'Show', list %>
            <%= link_to 'Edit', edit_list_path(list) %>
            <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


<br />

<%= link_to 'New List', new_list_path %>
